.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    height: 60px;
    color: rgb(27, 19, 32);

    ul {
        list-style: none;

        li {
            margin-left: 10px;
        }
    }
}
