.headerTop {
    height: 20px;
    background-color: rgb(193, 101, 255);
}

.headerDown {
    height: 60px;
    background-color: #fff;
    color: #000;

    .headerDownLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin-right: 8px;
            font-weight: 700;
        }
    }
}
