.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: flex-start;
    padding: 30px 30px;
    height: 100vh;
}
